<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Velvet & Vines</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <nav>
    <div class="nav1">
      <img src="../images/logo.png" alt="">
      <h1>Velvet & Vines</h1>
    </div>
    <div class="nav3">
      <h3>Home</h3>
      <h3>Products</h3>
      <h3>Contacts</h3>
      <h3>About Us</h3>
    </div>
    <div class="buttons">
      <a href="signup"><h3 style="color:white ; text-decoration: underline">SignUp</h3></a>
      <a href="Login"><h3 style="color:white ; text-decoration: underline">LogIn</h3></a>
    </div>
  </nav>
  <header>
    <h1>Welcome to Velvet & Vines</h1>
    <p>Your one-stop shop for all things velvet and vine.</p>
  </header>
  <div class="runner">
    <div class="wrapper">
      <img src="../images/4238ac3b-889a-4c07-aa5e-28dd6321acac.jpeg" alt="">
      <img src="../images/515726ba-1717-44ea-bdf1-405de35bb57b.jpeg" alt="">
      <img src="../images/Ben & Jerry's Scoop-a-Palooza Strawberries & Cream Ice Cream 28 oz Carton.jpeg" alt="">
      <img src="../images/breyers.jpeg" alt="">
      <img src="../images/Brownie Butter Crunch [500 ML], Papacream.jpeg" alt="">
      <img src="../images/butter-salted.jpeg" alt="">
      <img src="../images/chocochips.jpeg" alt="">
      <img src="../images/chunky-monkey.png" alt="">
      <img src="../images/connoisseour.jpeg" alt="">
      <img src="../images/country-fresh.jpeg" alt="">

      <img src="../images/d9035d23-f141-43a0-9062-e3499ed05942.jpeg" alt="">
      <img src="../images/dark-choclate.jpeg" alt="">
      <img src="../images/Edy’S_dreyer’S Slow Churned Vanilla Bean Light Ice Cream At Hy-Vee.jpeg" alt="">
      <img src="../images/french-vanilla.png" alt="">
      <img src="../images/frostisk.jpeg" alt="">
      <img src="../images/gallivan.jpeg" alt="">
      <img src="../images/gourmet.jpeg" alt="">
      <img src="../images/Hy-Vee Aisles Online Grocery Shopping.jpeg" alt="">
      <img src="../images/Ice cream fix___.jpeg" alt="">
      <img src="../images/icecream-sandwich.jpeg" alt="">
    </div>
  </div>
  <section>
    <div class="hero1">
      <div class="name-box1">
        <h2>Desi Desires</h2>
      </div>
      <div class="box1">
        <div class="dabba1">
          <div class="img1">
            <img src="../images/4238ac3b-889a-4c07-aa5e-28dd6321acac.jpeg" alt="">
          </div>
          <div class="part2">
            <div class="price">
              <h2>Tillamook</h2>
              <h2>₹200</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba2">
          <div class="img2">
            <img src="../images/515726ba-1717-44ea-bdf1-405de35bb57b.jpeg" alt="">
          </div>
          <div class="part3">
            <div class="price">
              <h2>Choclate & mint</h2>
              <h2>₹190</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba3">
          <div class="img3">
            <img src="../images/Ben & Jerry's Scoop-a-Palooza Strawberries & Cream Ice Cream 28 oz Carton.jpeg" alt="">
          </div>
          <div class="part4">
            <div class="price">
              <h2>Ben & jerry</h2>
              <h2>₹236</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba4">
          <div class="img1">
            <img src="../images/breyers.jpeg" alt="">
          </div>
          <div class="part5">
            <div class="price">
              <h2>Breyer's</h2>
              <h2>₹525</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba5">
          <div class="img1">
            <img src="../images/Brownie Butter Crunch [500 ML], Papacream.jpeg" alt="">
          </div>
          <div class="part6">
            <div class="price">
              <h2>Brownie butter crunch</h2>
              <h2>₹1000</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba6">
          <div class="img1">
            <img src="../images/chocochips.jpeg" alt="">
          </div>
          <div class="part7">
            <div class="price">
              <h2>chocochips</h2>
              <h2>₹250</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba7">
          <div class="img8">
            <img src="../images/chunky-monkey.png" alt="">
          </div>
          <div class="part7">
            <div class="price">
              <h2>chunky-monkey</h2>
              <h2>₹300</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba8">
          <div class="img9">
            <img src="../images/connoisseour.jpeg" alt="">
          </div>
          <div class="part7">
            <div class="price">
              <h2>connoisseour</h2>
              <h2>₹310</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hero2">
      <div class="name-box2">
        <h2>Desi Desires</h2>
      </div>
      <div class="box2">
        <div class="dabba1">
          <div class="img1">
            <img src="../images/country-fresh.jpeg" alt="">
          </div>
          <div class="part2">
            <div class="price">
              <h2>country-fresh</h2>
              <h2>₹700</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba2">
          <div class="img2">
            <img src="../images/d9035d23-f141-43a0-9062-e3499ed05942.jpeg" alt="">
          </div>
          <div class="part3">
            <div class="price">
              <h2>strawberry</h2>
              <h2>₹900</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba3">
          <div class="img3">
            <img src="../images/dark-choclate.jpeg" alt="">
          </div>
          <div class="part4">
            <div class="price">
              <h2>Dark choclate</h2>
              <h2>₹800</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba4">
          <div class="img4">
            <img src="../images/Edy’S_dreyer’S Slow Churned Vanilla Bean Light Ice Cream At Hy-Vee.jpeg" alt="">
          </div>
          <div class="part5">
            <div class="price">
              <h2>slow- churned</h2>
              <h2>₹700</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba5">
          <div class="img5">
            <img src="../images/french-vanilla.png" alt="">
          </div>
          <div class="part6">
            <div class="price">
              <h2>french-vanilla</h2>
              <h2>₹560</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba6">
          <div class="img5">
            <img src="../images/frostisk.jpeg" alt="">
          </div>
          <div class="part6">
            <div class="price">
              <h2>frostisk</h2>
              <h2>₹223</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba7">
          <div class="img7">
            <img src="../images/gallivan.jpeg" alt="">
          </div>
          <div class="part8">
            <div class="price">
              <h2>gallivan</h2>
              <h2>₹349</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
        <div class="dabba8">
          <div class="img7">
            <img src="../images/gourmet.jpeg" alt="">
          </div>
          <div class="part8">
            <div class="price">
              <h2>gourmet</h2>
              <h2>₹185</h2>
            </div>
            <button>Buy</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <footer>
    <div class="footer1">
      <h3>mail@valvet&vines.org</h3>
    </div>
    <div class="footer2">
      <img src="../images/logo.png" alt="">
      <h3>Jagbir Singh</h3>
    </div>
    <div class="footer3">
      <h3>®2025</h3>
    </div>
  </footer>
</body>
</html>