<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velvet & Vines - Signup Success</title>
    <link rel="stylesheet" href="../stylesheets/signup-successfully.css">
</head>
<body>
    <nav>
        <div class="nav1">
            <img src="../images/logo.png" alt="Logo">
            <h1>Velvet & Vines</h1>
        </div>
        <div class="nav3">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/Contacts">Contacts</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </div>
        <div class="buttons">
            <a href="/signup">SignUp</a>
            <a href="/login">LogIn</a>
        </div>
    </nav>

    <section>
        <div class="box">
            <h1>🎉 Congratulations, You’re In! 🎉</h1>
            <h2>You have successfully signed up ❤️</h2>
            <a href="/login" class="btn">Proceed to Login</a>
        </div>
    </section>

    <footer>
        <div class="footer1">
            <h3>mail@valvet&vines.org</h3>
        </div>
        <div class="footer2">
            <img src="../images/logo.png" alt="Logo">
            <h3>Jagbir Singh</h3>
        </div>
        <div class="footer3">
            <h3>®2025</h3>
        </div>
    </footer>
</body>
</html>